includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/
        - database/
    excludePaths:
        - database/migrations/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
