{% extends "layouts/app.html" %}
{% from "components/shared/ui.html" import page_header %}
{% block title %}Organisations{% endblock %}
{% block content %}
{% call page_header("Organisations") %}
    <a href="{{ url_for('platform.organisations.create') }}" class="btn btn-primary">New Organisation</a>
{% endcall %}
<div class="mr-data-table">
    <table class="table">
        <thead><tr><th>Code</th><th>Name</th><th></th></tr></thead>
        <tbody>
            {% for org in organisations %}
            <tr>
                <td>{{ org.code }}</td>
                <td>{{ org.name }}</td>
                <td><a href="{{ url_for('platform.organisations.edit', organisation_id=org.id) }}" class="btn btn-ghost btn-xs">Edit</a></td>
            </tr>
            {% else %}
            <tr><td colspan="3" class="py-4 text-center mr-muted">No organisations</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
